<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/vue" charset="utf-8"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>童年版斗兽棋</title>
  </head>

  <body>
    <div id="app" class="container">
      <div class="game" v-if="socketStatus">
        <i class="border0" v-for="item in 4" :style="{left: (50+item*100)-100+'px'}"></i>
        <i class="border1" v-for="item in 4" :style="{top: (50+item*100)-100+'px'}"></i>
        <div class="box">
            <p class="items" v-for="(item,index) in gameList" :key="index">
              <span @click="chooseItem(index, index_)" class="item" :class="[itemClass(item_),(chooseIndex===index&&chooseIndex_===index_)?'choosed':'']" v-for="(item_,index_) in item" :key="index_">{{item_.show===1?animaConfig[item_.type]:''}}</span>
            </p>
        </div>
      </div>
      <div class="des" v-if="socketStatus">
        <p>房间号：{{roomId}}</p>
        <p>昵称：{{userName}}</p>
        
        <p v-if="gameStatus!==null">你的棋子颜色：<span :style="{color:heroType==='player1'?'rgb(79, 100, 219)':'rgb(193, 228, 40)'}">{{heroType==='player1'?'蓝色':'黄绿色'}}</span></p>
        <p v-if="gameStatus!==null">当前回合：{{heroType===gameStatus?'你':'对手'}}</p>
      </div>

      <div class="row" v-if="!socketStatus">
        <div class="input-field col s6 offset-s3">
          <input v-model="userName" id="first_name2" type="text" class="validate">
          <label class="active" for="first_name2">请输入昵称</label>
        </div>
        <div class="input-field col s6 offset-s3">
          <input v-model="roomId" id="first_name2" type="text" class="validate">
          <label class="active" for="first_name2">请输入房间号</label>
        </div>
        <div class="input-field col s6 offset-s3">
            <a class="waves-effect waves-light btn" @click="connectSocket">创建/连接房间</a>
        </div>
      </div>
    </div>
  </body>
  <script src="./main.js"></script>
</html>
